@font-face {
   font-family: 'AlegreyaSansSC-Black';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-17_195651/fonts/AlegreyaSansSC-Black/font.ttf');
}
