@font-face {
   font-family: 'Revamped-X3q1a';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-17_195651/fonts/Revamped-X3q1a/font.ttf');
}
