@font-face {
   font-family: 'AlegreyaSansSC-Medium';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-17_195651/fonts/AlegreyaSansSC-Medium/font.ttf');
}
